.sidenav---sidenav---_2tBP {
  color: #000;
}

.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
  color: #000;;
  font-weight: bold;
  background: none;
  cursor: default;
}
