.sidenav---sidenav---_2tBP {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  background: #274293;
  flex: 1;
  -webkit-transition: min-width 0.15s;
  -moz-transition: min-width 0.15s;
  -o-transition: min-width 0.15s;
  -ms-transition: min-width 0.15s;
  transition: min-width 0.15s;
}

.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T {
  color: #000;;
  flex: 1;
  font-weight: bold;
  background: none;
  cursor: default;
}

.scroll {
  width: 110px;
  height: 110px;
  overflow: scroll;
}
